html, body {
    color: #3b3b3b;
    margin: 0;
    padding: 0;
    height: 100%;
    background: seashell;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: auto;
}

/* NAVBAR */

.navbar {
    font-size: 1.5rem;
    position: fixed;
    z-index: 100;
    background: seashell;
    right: 0;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.mobile-contact {
    display: none;
}

#sun {
    font-size: 2rem;
    position: absolute;
    left: 40px;
    top: 24px;
    cursor: pointer;
    display: none;
}

#moon {
    font-size: 2rem;
    position: absolute;
    left: 40px;
    top: 24px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    margin: 15px;
}

.standard-link {
    text-decoration: none;
    color: #3b3b3b;
}

.standard-link:hover {
    text-decoration: underline;
}

#palette-nav a {
    color: #3b3b3b;
    font-size: 1.8rem;
    font-family: "Nanum Brush Script", "Roboto", sans-serif;
    text-decoration: none !important;
    position: relative;
}

#palette-nav a:hover {
    text-decoration: none !important;
}

#palette-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    background: url('brush-stroke.png') no-repeat;
    background-size: 100% 100%;
    bottom: -8px;
    display: none;
    text-decoration: none !important;
}

#palette-nav a:hover::before {
    display: block;
    text-decoration: none !important;
}

/* HEADER */

header {
    margin-top: 80px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.main-header {
    font-size: 4rem;
}

.description {
    font-size: 1.5rem;
    text-align: center;
}

/* MAIN */

.grid-container {
    width: 90vw;
    height: 1150px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    column-gap: 25px;
    row-gap: 15px;
    margin: 20px;
    max-width: 90vw;
}

#palette a {
    color: #3b3b3b;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-family: "Nanum Brush Script", "Roboto", sans-serif;
    text-decoration: none !important;
    position: relative;
}

#palette a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    background: url('brush-stroke.png') no-repeat;
    background-size: 100% 100%;
    bottom: -8px;
    display: none;

}

#palette a:hover::before {
    display: block;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    width: calc(100% - 20px);
    object-fit: cover;
    margin: 10px 10px;
    max-height: 60%;
}

.box {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 5px;
    background: rgb(255, 255, 255);
}

.box-content {
    margin-left: 10px;
    padding: 5px;
}

.project-tools {
    font-style: italic;
}

.box1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.box3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.box4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box5 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.box6 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.tools {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tool-list {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

/* FOOTER */

footer a {
    color: #3b3b3b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .navbar {
        height: 60px;
        left: 0;
        font-size: 1.3rem;
    }

    #sun {
        font-size: 1.5rem;
        position: absolute;
        left: 20px;
        top: 18px;
        cursor: pointer;
        display: none;
    }
    
    #moon {
        font-size: 1.5rem;
        position: absolute;
        left: 20px;
        top: 18px;
        cursor: pointer;
    }

    #palette-nav a {
        color: #3b3b3b;
        font-size: 1.6rem;
        font-family: "Nanum Brush Script", "Roboto", sans-serif;
        text-decoration: none !important;
        position: relative;
    }

    .grid-container {
        height: 800px;
    }

    .tool-list {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 390px) {
    .main-header {
        text-align: center;
    }

    .nav-items {
        display: none;
    }

    .mobile-contact {
        display: block;
        position: absolute;
        font-size: 1.5rem;
        top: 18px;
        right: 20px;
    }

    .mobile-contact a {
        color: #3b3b3b;
    }

    .grid-container {
        width: 90vw;
        height: 2800px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 6;
        column-gap: 25px;
        row-gap: 15px;
        margin: 20px;
        max-width: 90vw;
    }

    .box1 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .box2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box3 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box4 {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box5 {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box6 {
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .tool-list {
        font-size: 1.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .main-header {
        text-align: center;
    }

    .nav-items {
        display: none;
    }

    .mobile-contact {
        display: block;
        position: absolute;
        font-size: 1.5rem;
        top: 18px;
        right: 20px;
    }

    .mobile-contact a {
        color: #3b3b3b;
    }

    .grid-container {
        width: 90vw;
        height: 2800px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 6;
        column-gap: 25px;
        row-gap: 15px;
        margin: 20px;
        max-width: 90vw;
    }

    .box1 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .box2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box3 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box4 {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box5 {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box6 {
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .tool-list {
        font-size: 1.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media only screen and (max-width: 326px) {
    .main-header {
        text-align: center;
    }

    .nav-items {
        display: none;
    }

    .mobile-contact {
        display: block;
        position: absolute;
        font-size: 1.5rem;
        top: 18px;
        right: 20px;
    }

    .mobile-contact a {
        color: #3b3b3b;
    }

    .grid-container {
        width: 90vw;
        height: 2800px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 6;
        column-gap: 25px;
        row-gap: 15px;
        margin: 20px;
        max-width: 90vw;
    }

    .box1 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .box2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box3 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box4 {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box5 {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .box6 {
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1; 
    }

    .tool-list {
        font-size: 1.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}